{% extends 'main/layout.html' %}
{% load static %}

{% block title %} Главная {% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/css/index.css' %}">
<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">

{% endblock %}

{% block body %}

<div class="video-background">
    <video autoplay muted loop id="background-video">
        <source src="{% static 'main/videos/cookiemainvideo.mp4' %}" type="video/mp4">
    </video>
</div>

<div class="main-container">
    <div class="text-overlay">
        <h1 class="meeting-service">Добро пожаловать в TourFast!</h1>
        <h1 class="better-service">Почему ты?</h1>
    </div>

    <div class="block-section">
        <div class="card first">
            <div class="icon">
                <img src="{% static 'main/img/customization.png' %}" alt="Кастомизация" />
            </div>
            <h2>Конструктор</h2>
            <p>Мы предоставляем уникальную возможность кастомизации вашего печенья.
                Выберите форму и начинку, чтобы создать идеальное печенье!</p>
        </div>

        <div class="card orange">
            <div class="icon">
                <img src="{% static 'main/img/telegramlogo.png' %}" alt="Быстрая доставка" />
            </div>
            <h2>Новости</h2>
            <p>Пропускаете распродажи? Узнавайте об акциях и новых поступлениях начинок и форм из нашего Telegram канала!</p>
        </div>

        <div class="card purple">
            <div class="icon">
                <img src="{% static 'main/img/coupons.png' %}" alt="Купоны" />
            </div>
            <h2>Купоны</h2>
            <p>Мы предлагаем скидки и купоны, чтобы сделать ваши заказы более выгодными.
                Подпишитесь на нас, чтобы не пропускать купоны!</p>
        </div>
    </div>

  <div class="button-container">
  <a class="btn create-design-button" href="{% url 'tours_page' %}" title="Перейти в конструктор">
    Перейти в конструктор
  </a>
</div>
    <a> <br> </a>

</a>
</div>
{% endblock %}
